h1 {color:red;}

.name{color:violet;}

.speech{font-size:large; color:darkgreen; font-style: italic;}

.direction{background-color:white; color: black; font-size:medium;}

.direction:hover{background-color:grey; color:orange;}

.MONSIEURJOURDAIN{color:darkcyan; font-size:medium;}

.MUSICMASTER{color:yellow ; font-size:medium;}

.DANCINGMASTER{color:violet; font-size:medium;}

.LACKEY{color:pink;font size:medium;}

.Characters{color:blue;font-size:medium;}

.Table,th,td,tr{border: 1mm;border-color:seagreen ; border-style: double; color: rgb(10, 99, 103); text-align: left; padding: 1mm; margin: 1cm;}
.tr:nth-child(even){
    background-color: blue (45, 89, 100);
  }

.name:hover{text-shadow:1px 2px 3px rgb(rgb(13,9,12)); color:violet;filter: green(3px);border: double 2px black;} 

ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin:0;
    padding:0;
    }
    ul.navbar-horizontal li {
    float:left;
    background-color:bisque
    }
    ul.navbar-horizontal a {
    display:block;
    padding:20px;
    margin:10px;
    }
    ul.navbar-horizontal a:hover {  
    background-color: #555;
    color:black;
    }
    .icon{
        align-items: center;
    }